.recommendedgames {
  background-color: #ffc;
  border: 5px solid red;
  width: 384px;
  height: 372px;
  display: grid;
}

/* .moregame {
  display: flex;
} */

figure {
  position: relative;
}

.game img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bg {
  z-index: 1;
}

.char {
  z-index: 2;
}
