@import './common/_base.css' layer(base);
body {
  background-color: #E9EEF3;
}

.plan-wrapper{
  position: relative;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;



  .plan-card {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 278px;
    block-size: 338px;

    
    background-color: #fff;
    border: 2px solid #F2F5F8;
    border-radius: 20px;

    box-sizing: border-box;
    padding-inline: 33px;
    padding-block: 40px;

    &:hover {
      border: 2px solid #BECCDB;
      transform: translateY(-10px);
    }

    &.clicked {
      background-color: #E8EFFD;
      border: 2px solid #055FEA;
      box-shadow: 0 0 0 4px #D2E0F9;
      transform: translateY(-10px);
      &::after{
        content: url(../icon-checkmark.svg);
        position: absolute;
        transform: translateY(-150%);
      }

      .plan-name{
        color: #055FEA;
      }
    }


    .plan-name {
      margin-block-end: 25px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.04em;
      color: #8B9DB1;
    }

    .plan-price {
      margin-block-end: 25px;
      font-size: 36px;
      font-weight: 700;

    }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #F5F7FA;
  }

    .plan-features {
      align-self:stretch;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-block-start: 25px;
      font-size: 15px;
      letter-spacing: 0.01em;
      line-height: 0;
      list-style: url(../icon-check.svg) inside;

  }

}



.selection-info {
  display: none;

  &.clicked {
  display: inline-flex;
 position: absolute;
  offset: 50%;
  transform: translateY(249px);


  
  padding: 24px 32px;
  background-color: #fff ;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 0 16px rgba(30, 38, 60, 0.10);

  .highlight{
    color: #407EEE;
  }
}

}

}
